<!DOCTYPE html>
html
    head
        - var page = { title: 'О сервисе' }
        include inc/head.pug
    body
        include inc/header.pug
        main
            include inc/help_support/content.pug
        include inc/footer.pug
        include inc/scripts.pug