<!DOCTYPE html>
html
    head
        - var page = { title: 'Каталог' }
        include inc/head.pug
    body
        include inc/header.pug
        main
            include inc/catalog/content.pug
        include inc/footer.pug
        include inc/scripts.pug