<!DOCTYPE html>
html
    head
        - var page = { title: 'Страница бесплатного курса' }
        include inc/head.pug
    body.course_page
        include inc/header.pug
        main
            include inc/free_course_page/content.pug
        include inc/footer.pug
        include inc/scripts.pug