<!DOCTYPE html>
html
    head
        - var page = { title: 'Страница бесплатного курса после регистрации' }
        include inc/head.pug
    body.course_page
        include inc/header.pug
        main
            include inc/free_course_page_after_registration/content.pug
        include inc/footer.pug
        include inc/scripts.pug