<!DOCTYPE html>
html
    head
        - var page = { title: 'Тестирование 1' }
        include inc/head.pug
    body
        include inc/header.pug
        main
            include inc/testing/content.pug
        include inc/footer.pug
        include inc/scripts.pug