script(src="//code.jquery.com/jquery-3.6.0.min.js")
script(src="//cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
script(src="//vjs.zencdn.net/7.10.2/video.min.js")
script(src="js/select2.min.js")
script(src="js/slick.js")
script(src="js/main.js")
