script(src="https://code.jquery.com/jquery-3.6.0.min.js")
script(src="https://vjs.zencdn.net/7.10.2/video.min.js")
script(src="js/jquery.magnific-popup.min.js")
script(src="js/select2.min.js")
script(src="js/slick.js")
script(src="js/main.js")
