.main_slider
    -for(var ms=1;ms<=3;ms++)
        .main_slider_item(style="background-image:url(img/female-mechanic-holding-spare-parts-car.png)")
            .container
                button.slick_arrow.ms_prev
                button.slick_arrow.ms_next
                div
                    .title Продажа и ремонт оборудования<br> мелкой механизации
                    .sub_title Инструментальный подход. надежный результат.
                    a.btn_default(href="#") ПОДРОбНЕЕ

-var sub_menu1=['','Ремонт моек высокого давления','Ремонт садовых пылесосов и воздуходувок','Ремонт бензопил','Ремонт мотокос и газонокосилок','Ремонт мотопомп','Ремонт бензогенераторов, сварочных генераторов','Ремонт двигателей','Ремонт компрессоров','Ремонт виброплит, виброреек, вибротрамбовок, виброкатков','Ремонт двигателей','Ремонт компрессоров','Ремонт виброплит, виброреек, вибротрамбовок, виброкатков','Ремонт сварочных аппаратов','Ремонт тепловых пушек'];
section.main_services
    .container
        .text-center
            .section_title наши услуги

        .row.services_list
            -for(var s=1;s<=11;s++)
                .col
                    .services_item
                        .img_thumbnail(style="background-image:url(img/serv.png)")
                            a.btn_default(href="#")
                                span ПОДРОбНЕЕ
                        a.serv_name(href="#")
                            span=sub_menu1[s]
section.main_products
    .container
        .text-center
            .section_title товары
        .row.products_list
            -for(var p=1;p<=12;p++)
                .col
                    .product_item
                        .product_item_content
                            .product_item_img
                                img(src="img/image66.png")
                            .product_item_body
                                .product_item_name Название товара в 2 строки. Название товара Название товара в 2 строки.
                                .price 10.5 BYN
                                .availability В наличии
                                a.btn_default(href="#")
                                    span ПОДРОбНЕЕ
        .page_pagination
            ul.custom_pagination
                li
                    a.page_prev(href="#")
                li
                    a.active(href="#") 1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li
                    a.page_next(href="#")



section.main_about
    .container
        .row.about_row
            .col
                .section_title О нас
                .desc
                    p Наша компания создана путем реорганизации (слияния) нескольких фирм, специализирующихся на сервисном обслуживании электро и бензоинструмента, садовой техники, а так же малой строительной механизации.

                    p Мы постоянно развиваемся и никогда не стоим на месте! Благодаря этому, мы накопили колоссальный опыт и уникальный практический навык, которые готовы применить для выполнения работ любой сложности. В нашем сервисном центре, есть все необходимое оборудование, на котором работают высококвалифицированные специалисты, знающие, как устранить любую неполадку.

                    p Мы предлагаем: диагностику в кратчайшие сроки и быстрый квалифицированный ремонт, которые позволят вам получить отремонтированную технику, не останавливая производство. Обширная база прямых поставщиков комплектующих деталей, существенно позволит снизить стоимость ремонта Вашей техники. Так же у нас есть, обширный склад распространенных запчастей.
            .col
                img(src="img/about.png")










